html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/fondo.jpg");
}

/*menu*/
.navlogo {
  padding-left: 40px;
}

.respmenu img {
  width: 75px;
  height: 75px;
  padding: 10px;
}

.respmenu input[type="checkbox"] {
  visibility: hidden;
}

.respmenu .bi-list {
  visibility: hidden;
}

.respmenu {
  background-color: #4b0e57;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 2;
}

.menures {
  display: flex;
  padding-top: 10px;
  padding-left: 550px;
}

.menures li {
  padding: 5px 10px;
  list-style-type: none;
  margin-top: 10px;
}

.menures a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #e74f89;
}

/*boton form menu*/
.btnpadre {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  text-align: center;
}

.btnmenu {
  background-color: #4b0e57;
  color: white;
  padding-right: 15px;
  padding-top: 13px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

.btncontenido {
  display: none;
  position: absolute;
  background-color: #e767b2e8;
  box-shadow: 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.btncontenido a {
  color: #4b0e57;
  text-decoration: none;
  display: block;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  margin: 13px;
}

.btncontenido a:hover {
  background-color: #84289793
}

.btnpadre:hover .btncontenido {
  display: block;
}

.btnpadre:hover .btnmenu {
  background-color: #4b0e57;
}

/*fin del menu inicio pag*/
.homeadop {
  color: #ffffff;
  background-color: #8428973f;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  padding: 90px 40px 5px 40px;
  margin: 0px 0px 15px 20px;
  font-weight: bold;
}

.inicioadop {
  background-color: #ffffff;
  color: #4b0e57;
  margin: 20px 60px 20px 60px;
  padding: 15px;

}

.inicioadop p {
  text-align: center;
  padding: 10px 40px 10px 40px;
}

.infop p {
  text-align: justify;
}

.formfondo {
  background-color: #7414772a;
  width: 100%;
}

.formtitulo {
  width: 100%;
  text-align: center;

}

h2 {
  color: #ffffff;
  margin: 0px 10px 10px 20px;
  padding: 10px;
  font-weight: bold;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 15px 35px 15px;
}

.formularioadop {

  background-color: #f7d2f2;
  width: 500px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 10px 20px #1e042467;
  align-items: center;
}

.forminfo {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forminfo input {
  border-radius: 5px;
  margin: 0px 10px;
}

.forminfomensaje label {
  display: inline;
}

button {
  background-color: rgb(255, 255, 255);
  color: #4b0e57;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #4b0e57;
  color: #ffffff;
}

/*footer*/
.apie {
  background-color: #641c7286;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.iniciofooter {
  margin: 0px;
  padding: 15px 20px 35px 20px;
  font-size: 1.5rem;
}

.pfooter {
  margin: 0px;
  padding: 20px 10px;
  font-size: 1rem;
  font-weight: bold;
}

.iniciofooter .bi-instagram {
  color: #ffffff;
}

.iniciofooter .bi-youtube {
  color: #ffffff;
}

.iniciofooter .bi-facebook {
  color: #ffffff;
}


@media (min-width: 300px) and (orientation: portrait) {
  .respmenu img {
    width: 67px;
    height: 67px;
    padding: 5px;
    left: 0;
  }

  .navlogo {
    padding-left: 0px;
  }

  .respmenu input[type="checkbox"] {
    visibility: visible;
    opacity: 0;
  }

  .respmenu .bi-list {
    visibility: visible;
  }

  .menures a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px 10px 10px;
    list-style-type: none;
    font-weight: bold;
  }

  .respmenu input[type="checkbox"],
  .respmenu .bi-list {
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 52px;
    height: 48px;
  }

  .respmenu .bi-list {
    font-size: 40px;
    pointer-events: none;

    margin: 5px 5px;
  }

  .respmenu {
    list-style-type: none;
    color: white;
    background: #4b0e57;
    min-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .respmenu nav {
    display: none;

  }

  .respmenu input:checked~nav {
    display: block;
    text-align: right;
  }

  .respmenu nav ul {
    list-style-type: none;
    padding-left: 0px;
  }

  a:hover {
    color: #e74f89;
  }

  .navlogo img {
    display: block;
    margin: 5px 20px;
  }

  .btnpadre {
    padding: 0px 0px 0px 10px;
  }

  .formularioadop {

    background-color: #f7d2f2;
    width: 280px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 10px 20px #1e042467;
    align-items: center;
  }

}

@media (max-width: 920px) and (orientation: landscape) {
  .respmenu img {
    width: 67px;
    height: 67px;
    padding: 5px;
    left: 0;
  }

  .navlogo {
    padding-left: 0px;
  }

  .respmenu input[type="checkbox"] {
    visibility: visible;
    opacity: 0;
  }

  .respmenu .bi-list {
    visibility: visible;
  }

  .menures a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px 10px 10px;
    list-style-type: none;
    font-weight: bold;
  }

  .respmenu input[type="checkbox"],
  .respmenu .bi-list {
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 52px;
    height: 48px;
  }

  .respmenu .bi-list {
    font-size: 40px;
    pointer-events: none;

    margin: 5px 5px;
  }

  .respmenu {
    list-style-type: none;
    color: white;
    background: #4b0e57;
    min-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .respmenu nav {
    display: none;

  }

  .respmenu input:checked~nav {
    display: block;
    text-align: right;
  }

  .respmenu nav ul {
    list-style-type: none;
    padding-left: 0px;
  }

  a:hover {
    color: #e74f89;
  }

  .navlogo img {
    display: block;
    margin: 5px 20px;
  }

}

@media (max-width: 1200px) and (orientation: landscape) {
  .menures {
    display: flex;
    padding-top: 10px;
    padding-left: 350px;
  }
}