html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/fondo.jpg");
}

.ventana-modal {
  margin: 20px auto;
  background-image: url("../img/imginicio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 20px;
  width: 450px;
  line-height: 150%;
  border-radius: 3%;
  z-index: 100;
  text-align: center;
  transform: scale(1);
  transition: 0.9s ease-in all;
  font-family: 'Poppins', sans-serif;
}

.ventana-modal img {
  width: 100%;
  display: block;
  margin: auto;
  border: none;
}

.ventana-modal h1 {
  color: #5f176d;
  font-size: 2.5rem;
  font-weight: bold;
}

.ventana-modal p {
  color: #5f176d;
  font-size: 1.2rem;
}


.ventana-modal .boton {
  background: #5f176dc0;
  border: none;
  color: white;
  text-align: center;
  padding: 15px 100px;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 60px;
}

.ventana-modal .boton:hover {
  background: #5f176d;
}

.ventana-modal .activo {
  display: block;
  /* Se muestra aviso */
}

.fondo-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.9176470588);
  height: 100vh;
  padding-top: 100px;
  position: fixed;
  /* *Fijamos fondo */
  z-index: 99;
  /* *Colocacion detras del bloque cookies */
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.fondo-modal.activo {
  display: block;
}

.fondo-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.9176470588);
  height: 100vh;
  padding-top: 100px;
  position: fixed;
  /* *Fijamos fondo */
  z-index: 99;
  /* *Colocacion detras del bloque cookies */
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

/*menu*/
.navlogo {
  padding-left: 40px;
}

.respmenu img {
  width: 75px;
  height: 75px;
  padding: 10px;
}

.respmenu input[type="checkbox"] {
  visibility: hidden;
}

.respmenu .bi-list {
  visibility: hidden;
}

.respmenu {
  background-color: #4b0e57;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 2;
}

.menures {
  display: flex;
  padding-top: 10px;
  padding-left: 550px;
}

.menures li {
  padding: 5px 10px;
  list-style-type: none;
  margin-top: 10px;
}

.menures a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #e74f89;
}

/*boton form menu*/
.btnpadre {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  text-align: center;
}

.btnmenu {
  background-color: #4b0e57;
  color: white;
  padding-right: 15px;
  padding-top: 13px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

.btncontenido {
  display: none;
  position: absolute;
  background-color: #d772ebe8;
  box-shadow: 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.btncontenido a {
  color: #4b0e57;
  text-decoration: none;
  display: block;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  margin: 13px;
}

.btncontenido a:hover {
  background-color: #84289793
}

.btnpadre:hover .btncontenido {
  display: block;
}

.btnpadre:hover .btnmenu {
  background-color: #4b0e57;
}

/*fin del menu inicio pag*/
.inicioportada {
  background-image: url(../img/imginiciop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}

.inicio {
  background-color: #ffffff6c;
}

.inicio h1 {
  font-size: 3.5rem;
  padding: 150px 0px 250px 0px;
  margin: 0px 0px 0px 15px;
  font-weight: bold;
  text-align: center;
  color: #4b0e57;
}

.info {
  background-color: #f9dbf5;
  border: 3px #ffffff solid;
  text-align: center;

}

.info h2 {
  color: #4b0e57;
  padding: 15px 20px 0px 20px;
}

.info p {
  text-align: center;
  padding: 10px 65px 10px 65px;
  font-size: large;
}

/*carrousel*/

.carrutitulo h2 {
  font-size: 3rem;
  padding: 45px 0px 10px 0px;
  font-weight: bold;
  text-align: center;
  color: #4b0e57;
}

.carrutitulo p {
  text-align: center;
  padding: 0px 65px 10px 65px;
  font-size: large;
}

.carousel-inner {
  width: 50%;
  display: block;
  margin: auto;
  position: center;
  padding: 20px;
  box-shadow: 0 5px 100px rgba(135, 132, 136, 0.506);
  ;
}

.carousel-indicators {
  z-index: 1;
}

.carousel-control-prev {
  z-index: 1;
  background-color:#641c7286;
  border-radius: 100%;
  margin: auto;
  height: 200px;
  display: block;
}

.carousel-control-next {
  z-index: 1;
  background-color: #ffffff;
  background-color:#641c7286;
  border-radius: 100%;
  margin: auto;
  height: 200px;
  display: block;
}
.btngatitos a{
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.btngatitos{
background: #5f176dc0;
color: white;
margin: auto;
margin-top: 30px;
text-align: center;
font-size: 2rem;
font-weight: 700;
cursor: pointer;
border-radius: 5px;
display: block;
width: 350px;
}

.bntgatitos:hover {
background: #5f176d;
}

.video {
  background-color: #ffffffab;
  width: 100%;
}

.video iframe {
  display: block;
  margin: auto;
  position: center;
  width: 700px;
  height: 500px;
}

.video p {
  text-align: center;
  margin: 15px;
  padding: 10px 30px 10px 30px;
}

/*boton js*/
.btnjava {
  display: flex;
  justify-content: center;
  padding: 35px;
}

.btnsaludo {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.btnsaludo h4 {
  color: #4b0e57;
  font-size: 3rem;
  font-weight: bold;
}

/*footer*/
.pie {
  background-color: #641c7286;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;

}

.pfooter {
  margin: 0px;
  padding: 20px 10px;
  font-size: 1rem;
  font-weight: bold;
}

.iniciofooter {
  margin: 0px;
  padding: 15px 20px 35px 20px;
  font-size: 1.5rem;
}

.iniciofooter .bi-instagram {
  color: #ffffff;
}

.iniciofooter .bi-youtube {
  color: #ffffff;
}

.iniciofooter .bi-facebook {
  color: #ffffff;
}

@media (min-width: 300px) and (orientation: portrait) {
  .respmenu img {
    width: 67px;
    height: 67px;
    padding: 5px;
    left: 0;
  }

  .navlogo {
    padding-left: 0px;
  }

  .respmenu input[type="checkbox"] {
    visibility: visible;
    opacity: 0;
  }

  .respmenu .bi-list {
    visibility: visible;
  }

  .menures a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px 10px 10px;
    list-style-type: none;
    font-weight: bold;
  }

  .respmenu input[type="checkbox"],
  .respmenu .bi-list {
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 52px;
    height: 48px;
  }

  .respmenu .bi-list {
    font-size: 40px;
    pointer-events: none;
    margin: 5px 5px;
  }

  .respmenu {
    list-style-type: none;
    color: white;
    background: #4b0e57;
    min-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .respmenu nav {
    display: none;

  }

  .respmenu input:checked~nav {
    display: block;
    text-align: right;
  }

  .respmenu nav ul {
    list-style-type: none;
    padding-left: 0px;
  }

  a:hover {
    color: #e74f89;
  }

  .navlogo img {
    display: block;
    margin: 5px 20px;
  }

  .video iframe {
    display: block;
    margin: auto;
    position: center;
    width: 340px;
    height: 200px;
  }

  .btnpadre {
    padding: 0px 0px 0px 10px;
  }

  /*carru*/

  .carousel-inner {
    height: 330px;
    width: 70%;
    display: block;
    margin: auto;
    position: center;
    padding: 20px;
    box-shadow: 0 10px 20px #7d748081;
    ;
  }

  .carousel-indicators {
    z-index: 1;

  }

  .carousel-control-prev {
    z-index: 1;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 150px 50px 0px 20px;
    width: 50px;
    height: 50px;
    display: block;
  }

  .carousel-control-next {
    z-index: 1;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 150px 20px 0px 50px;
    width: 50px;
    height: 50px;
    display: block;
  }

}

@media (max-width: 920px) and (orientation: landscape) {
  .respmenu img {
    width: 67px;
    height: 67px;
    padding: 5px;
    left: 0;
  }

  .navlogo {
    padding-left: 0px;
  }

  .respmenu input[type="checkbox"] {
    visibility: visible;
    opacity: 0;
  }

  .respmenu .bi-list {
    visibility: visible;
  }

  .menures a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px 10px 10px;
    list-style-type: none;
    font-weight: bold;
  }

  .respmenu input[type="checkbox"],
  .respmenu .bi-list {
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 52px;
    height: 48px;
  }

  .respmenu .bi-list {
    font-size: 40px;
    pointer-events: none;

    margin: 5px 5px;
  }

  .respmenu {
    list-style-type: none;
    color: white;
    background: #4b0e57;
    min-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .respmenu nav {
    display: none;

  }

  .respmenu input:checked~nav {
    display: block;
    text-align: right;
  }

  .respmenu nav ul {
    list-style-type: none;
    padding-left: 0px;
  }
  a:hover {
    color: #e74f89;
  }
  .navlogo img {
    display: block;
    margin: 5px 20px;
  }
  .video iframe {
    display: block;
    margin: auto;
    position: center;
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 1200px) and (orientation: landscape) {
  .menures {
    display: flex;
    padding-top: 10px;
    padding-left: 350px;
  }
}