html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/fondo.jpg");
}

/*Modal 1*/
.ventana-modal {
  margin: 20px auto;
  background-image: url("../img/imginicio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 20px;
  width: 450px;
  line-height: 150%;
  border-radius: 3%;
  z-index: 100;
  text-align: center;
  transform: scale(1);
  transition: 0.9s ease-in all;
  font-family: 'Poppins', sans-serif;
}

.ventana-modal img {
  width: 100%;
  display: block;
  margin: auto;
  border: none;
}

.ventana-modal h1 {
  color: #5f176d;
  font-size: 2.5rem;
  font-weight: bold;
}

.ventana-modal p {
  color: #5f176d;
  font-size: 1.2rem;
}

.ventana-modal .boton {
  background: #5f176dc0;
  border: none;
  color: white;
  text-align: center;
  padding: 15px 100px;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 60px;
}

.ventana-modal .boton:hover {
  background: #5f176d;
}

.ventana-modal .activo {
  display: block;
}

.fondo-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.9176470588);
  padding-top: 100px;
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.fondo-modal.activo {
  display: block;
}

/*modal 2*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 450px;
  line-height: 150%;
  border-radius: 10px;
}

.close {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*menu*/
.navlogo {
  padding-left: 40px;
}

.respmenu img {
  width: 75px;
  height: 75px;
  padding: 10px;
}

.respmenu input[type="checkbox"] {
  visibility: hidden;
}

.respmenu .bi-list {
  visibility: hidden;
}

.respmenu {
  background-color: #4b0e57;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 2;
}

.menures {
  display: flex;
  padding-top: 10px;
  padding-left: 550px;
}

.menures li {
  padding: 5px 10px;
  list-style-type: none;
  margin-top: 10px;
}

.menures a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

/*boton form menu*/
.btnpadre {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  text-align: center;
}

.btnmenu {
  background-color: #4b0e57;
  color: white;
  padding-right: 15px;
  padding-top: 13px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

.btncontenido {
  display: none;
  position: absolute;
  background-color: #e9bdd2e8;
  box-shadow: 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.btncontenido a {
  color: #4b0e57;
  text-decoration: none;
  display: block;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  margin: 13px;
}

.btncontenido a:hover {
  background-color: #ffffff
}

.btnpadre:hover .btncontenido {
  display: block;
}

.btnpadre:hover .btnmenu {
  background-color: #4b0e57;
}

/*fin del menu inicio pag*/
.inicioportada {
  background-image: url(../img/imginiciop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}

.inicio {
  background-color: #ffffff6c;
}

.inicio h1 {
  font-size: 3.5rem;
  padding: 150px 0px 250px 0px;
  margin: 0px 0px 0px 15px;
  font-weight: bold;
  text-align: center;
  color: #4b0e57;
}

.info {
  background-color: #f9dbf5;
  border: 3px #ffffff solid;
  text-align: center;
}

.info h2 {
  color: #4b0e57;
  padding: 15px 40px 0px 40px;
}

.info p {
  text-align: center;
  padding: 10px 65px 10px 65px;
  font-size: large;
}

/*carrousel*/
.carrutitulo h2 {
  font-size: 3rem;
  padding: 45px 0px 10px 0px;
  font-weight: bold;
  text-align: center;
  color: #4b0e57;
}

.carrutitulo p {
  text-align: center;
  padding: 0px 65px 10px 65px;
  font-size: large;
}

.carousel-inner {
  width: 50%;
  display: block;
  margin: auto;
  position: center;
  padding: 20px;
  box-shadow: 0 5px 100px rgba(135, 132, 136, 0.24);
  ;
}

.carousel-indicators {
  z-index: 1;
}

.carousel-control-prev {
  z-index: 1;
  background-color: #641c7286;
  border-radius: 100%;
  margin: auto;
  height: 200px;
  display: block;
  display: block;
}

.carousel-control-next {
  z-index: 1;
  background-color: #ffffff;
  background-color: #641c7286;
  border-radius: 100%;
  margin: auto;
  height: 200px;
  display: block;
}

/*boton g*/
.btngatitos a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.btngatitos {
  background: #5f176dc0;
  color: white;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  width: 350px;
}

.bntgatitos:hover {
  background: #5f176d;
}

/*video*/
.video {
  background-color: #ffffffab;
  width: 100%;
}

.video iframe {
  display: block;
  margin: auto;
  position: center;
  width: 700px;
  height: 500px;
}

.video p {
  text-align: center;
  margin: 15px;
  padding: 10px 30px 10px 30px;
}

/*boton js*/
.btnjava {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}

.btnsaludo {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  text-align: center;
}

.btnsaludo h4 {
  color: #4b0e57;
  font-size: 3rem;
  font-weight: bold;
}

.btnjava button {
  padding: 10px;
  margin: 10px;
}

/*footer*/
.pie {
  background-color: #641c7286;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.pfooter {
  margin: 0px;
  padding: 20px 10px;
  font-size: 1rem;
  font-weight: bold;
}

.iniciofooter {
  margin: 0px;
  padding: 15px 20px 35px 20px;
  font-size: 1.5rem;
}

.iniciofooter .bi-instagram {
  color: #ffffff;
}

.iniciofooter .bi-youtube {
  color: #ffffff;
}

.iniciofooter .bi-facebook {
  color: #ffffff;
}

/*NOSOTROS*/
.inicioNOS {
  color: #ffffff;
  background-color: #8428973f;
  width: 100%;
}

.inicioNOS h1 {
  font-size: 2.5rem;
  padding: 90px 0px 5px 40px;
  margin: 0px 0px 15px 15px;
  font-weight: bold;
}

.infoNOS {
  background-color: #ffffffe3;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
  padding: 10px 65px 10px 65px;
  ;
}

.infoNOS h3 {
  color: #4b0e57;
}

.inicio h1 {
  font-size: 3.5rem;
  padding: 90px 0px 250px 0px;
  margin: 0px 0px 0px 15px;
  font-weight: bold;
  text-align: center;
  color: #4b0e57;
}

.infoemtitulo h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #4b0e57;
}

.infoempleo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nosempleados {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 3px #f7d2f2 dotted;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 10px 20px #7d748081;
  width: 400px;
  height: 300px;
}

.nosempleados h4 {
  text-align: center;
  font-weight: bold;
  color: #000;
}

.infop {
  display: block;
  text-align: left;
  padding: 10px;
}

.infop p {
  text-align: left;
}

.infop h2 {
  padding-top: 10px;
}

.nosempleados img {
  border-radius: 80px;
  border: 10px #4b0e5749 solid;
  margin: 20px;
}

/*GATITOS*/
.infogatos h1 {
  font-size: 2.5rem;
  padding: 90px 0px 5px 0px;
  margin: 0px 0px 15px 40px;
  font-weight: bold;
}

.fondotarget h4 {
  background-color: #ffffff;
  color: #4b0e57;
  width: 100%;
  text-align: center;
  padding: 15px;
  display: block;
  font-size: 2rem;
}

.fondotarget {
  background-color: #fad6f567;
  width: 100%;
  text-align: center;
}

.fondotarget p {
  text-align: center;
  padding: 10px 65px 10px 65px;
  font-size: large;
}

.infogatos {
  color: #ffffff;
  background-color: #8428973f;
  width: 100%;
}

.target {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.targetas {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.targetascat {
  width: 230px;
  border: 3px solid #ffffffdc;
  border-radius: 20px;
  box-shadow: 0 10px 20px #7d748081;
  background-color: #f7d1f1c5;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.targetascat img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.targetascat ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 5px 0px;
  display: block;
}

.targetas h3 {
  text-align: center;
  color: #5c126b;
  font-weight: bold;
}

.targetascat a {
  background-color: rgb(255, 255, 255);
  color: #4b0e57;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: 50%;
  display: block;
  margin: 10px;
  text-decoration: none;
}

.targetascat a:hover {
  background-color: #4b0e57;
  color: #ffffff;
}

.btnmichis {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.btnmichi {
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 15px;
  background-color: #ffffffcb;
  border-radius: 10px;
}

.btnmichi h4 {
  color: #4b0e57;
  font-weight: bold;
}

.btnmichi a {
  background-color: #4b0e57;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: 50%;
  display: block;
  margin: auto;
  text-decoration: none;
  padding: 5px;
}

.btnmichi a:hover {
  background-color: #6d187ec4;
  color: #ffffff;
}

/*CONTACTO*/
.iniciocontact {
  color: #ffffff;
  background-color: #8428973f;
  width: 100%;
}

.iniciocontact h1 {
  font-size: 2.5rem;
  padding: 90px 0px 5px 40px;
  margin: 0px 0px 15px 15px;
  font-weight: bold;
}

.infocont {
  margin: 20px;
  padding: 10px 40px 10px 40px;
}

.infocont p {
  text-align: justify;
  padding: 10px 30px 10px 30px;
  font-size: large;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 15px 35px 15px;
}

.formularioadop {
  background-color: #f7d2f2;
  width: 60%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 10px 20px #1e042467;
  align-items: center;
}

.forminfo {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forminfo input {
  border-radius: 5px;
  margin: 0px 10px;
}

.forminfomensaje label {
  display: inline;
}

button {
  background-color: rgb(255, 255, 255);
  color: #4b0e57;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #4b0e57;
  color: #ffffff;
}

/*ADOP Y TRANS*/
.homeadop {
  color: #ffffff;
  background-color: #8428973f;
  width: 100%;
}

.homeadop h1 {
  font-size: 2.5rem;
  padding: 90px 40px 5px 40px;
  margin: 0px 0px 15px 20px;
  font-weight: bold;
}

.inicioadop {
  background-color: #ffffff;
  color: #4b0e57;
  margin: 20px 60px 20px 60px;
  padding: 15px;

}

.inicioadop p {
  text-align: center;
  padding: 10px 40px 10px 40px;
}

.infop p {
  text-align: justify;
}

.formfondo {
  background-color: #7414772a;
  width: 100%;
}

.formtitulo {
  width: 100%;
  text-align: center;

}

.formtitulo h2 {
  color: #ffffff;
  margin: 0px 10px 10px 20px;
  padding: 10px;
  font-weight: bold;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 15px 35px 15px;
}

.formularioadop {

  background-color: #f7d2f2;
  width: 500px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 10px 20px #1e042467;
  align-items: center;
}

.forminfo {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forminfo input {
  border-radius: 5px;
  margin: 0px 10px;
}

.forminfomensaje label {
  display: inline;
}

button {
  background-color: rgb(255, 255, 255);
  color: #4b0e57;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #4b0e57;
  color: #ffffff;
}

@media (min-width: 300px) and (orientation: portrait) {
  .respmenu img {
    width: 67px;
    height: 67px;
    padding: 5px;
    left: 0;
  }

  .navlogo {
    padding-left: 0px;
  }

  .respmenu input[type="checkbox"] {
    visibility: visible;
    opacity: 0;
  }

  .respmenu .bi-list {
    visibility: visible;
  }

  .menures a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px 10px 10px;
    list-style-type: none;
    font-weight: bold;
  }

  .respmenu input[type="checkbox"],
  .respmenu .bi-list {
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 52px;
    height: 48px;
  }

  .respmenu .bi-list {
    font-size: 40px;
    pointer-events: none;
    margin: 5px 5px;
  }

  .respmenu {
    list-style-type: none;
    color: white;
    background: #4b0e57;
    min-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .respmenu nav {
    display: none;

  }

  .respmenu input:checked~nav {
    display: block;
    text-align: right;
  }

  .respmenu nav ul {
    list-style-type: none;
    padding-left: 0px;
  }

  a:hover {
    color: #e74f89;
  }

  .navlogo img {
    display: block;
    margin: 5px 20px;
  }

  .video iframe {
    display: block;
    margin: auto;
    position: center;
    width: 340px;
    height: 200px;
  }

  .btnpadre {
    padding: 0px 0px 0px 10px;
  }

  /*carru*/
  .carousel-inner {
    height: 350px;
    width: 70%;
    display: block;
    margin: auto;
    position: center;
    padding: 20px;
    box-shadow: 0 5px 100px rgba(135, 132, 136, 0);
  }

  .carousel-indicators {
    z-index: 1;
  }

  .carousel-control-prev {
    z-index: 1;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 150px 50px 0px 20px;
    width: 70px;
    height: 70px;
    display: block;
  }

  .carousel-control-next {
    z-index: 1;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 150px 20px 0px 50px;
    width: 70px;
    height: 70px;
    display: block;
  }

  .carrutitulo h2 {
    font-size: 2rem;
  }

  .carrutitulo p {
    padding: 20px;
  }

  .info h2 {
    padding: 20px;
  }

  .info p {
    padding: 15px;
    font-size: large;
  }

  /*GATITOS*/
  .infogatos h1 {
    font-size: 2rem;
    margin: 0px 0px 15px 30px;
  }

  .fondotarget p {
    text-align: center;
    padding: 15px;
    font-size: large;
  }

  .btnmichi {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 15px;
    background-color: #ffffff60;
    border-radius: 10px;
  }

  /*FORMULARIO*/
  .formularioadop {
    width: 85%;
  }

  /*ADOP Y TRAN*/
  .homeadop h1 {
    font-size: 2rem;
    margin: 0px 0px 15px 10px;
  }

  .inicioadop {
    margin: 20px 15px 20px 15px;
    padding: 15px;
  }

  .inicioadop p {
    text-align: center;
    padding: 15px;
  }

  /*CONTACTO*/
  .iniciocontact h1 {
    font-size: 2 rem;
    padding: 90px 0px 5px 15px;
    margin: 0px 0px 15px 20px;
  }

  .infocont {
    margin: 20px;
    padding: 15px;
  }

  .infocont p {
    text-align: justify;
    padding: 10px;
  }
}

@media (max-width: 920px) and (orientation: landscape) {
  .respmenu img {
    width: 67px;
    height: 67px;
    padding: 5px;
    left: 0;
  }

  .navlogo {
    padding-left: 0px;
  }

  .respmenu input[type="checkbox"] {
    visibility: visible;
    opacity: 0;
  }

  .respmenu .bi-list {
    visibility: visible;
  }

  .menures a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px 10px 10px;
    list-style-type: none;
    font-weight: bold;
  }

  .respmenu input[type="checkbox"],
  .respmenu .bi-list {
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 52px;
    height: 48px;
  }

  .respmenu .bi-list {
    font-size: 40px;
    pointer-events: none;

    margin: 5px 5px;
  }

  .respmenu {
    list-style-type: none;
    color: white;
    background: #4b0e57;
    min-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .respmenu nav {
    display: none;

  }

  .respmenu input:checked~nav {
    display: block;
    text-align: right;
  }

  .respmenu nav ul {
    list-style-type: none;
    padding-left: 0px;
  }

  a:hover {
    color: #e74f89;
  }

  .navlogo img {
    display: block;
    margin: 5px 20px;
  }

  .video iframe {
    display: block;
    margin: auto;
    position: center;
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 1200px) and (orientation: landscape) {
  .menures {
    display: flex;
    padding-top: 10px;
    padding-left: 350px;
  }
}