html{
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background-image: url("../img/fondo.jpg");
}
/*menu*/
.navinicio{
  background-color: #4b0e57;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.navinicio ul{
  margin:0;
}
.navinicio ul li{
  display: inline-block;
  padding: 0px 12px; 
} 
.navinicio li{
  list-style-type: none;
}
.navinicio a{
  color: #ffffff;  
  font-weight:bold ;
  text-decoration: none;
}
a:hover{
  color: #e74f89;
}
.navlogo img{ 
  align-items: center;
  display: block; 
  margin: 5px 20px;
}
/*parte del boton menu*/
.btnpadre {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  text-align: center;
}
.btnmenu {
  background-color: #4b0e57;
  color: white;
  padding-right: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif; 
  font-weight:bold ;
  text-align: center;
}
.btncontenido {
  display: none;
  position: absolute;
  background-color: #ffffffe8;
  box-shadow: 5px rgba(0,0,0,0.2);
  z-index: 1;
}
.btncontenido a {
  color:#4b0e57;
  /*padding: 12px 16px;*/
  text-decoration: none;
  display: block;
  font-family: 'Poppins', sans-serif ;
  padding: 5px;
  margin: 5px;
}
.btncontenido a:hover {
  background-color:  #84289793
}
.btnpadre:hover .btncontenido {
  display: block;
}
.btnpadre:hover .btnmenu {
  background-color: #4b0e57;
}
/* inicia la pagina*/
h1{
  font-size: 2.5rem;
  padding: 90px 0px 5px 0px;
  margin: 0px 0px 15px 15px;  
  font-weight: bold;
}
h4{
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 15px;
}
/*h1{
    background-color: #f7d2f2;
    color: #4b0e57;
    margin: 0px 10px 10px 10px;
    padding: 10px;     
}*/
.fondotarget{
  background-color: #fad6f567;
  width: 100%;
}
.infogatos{
  color: #ffffff;
  background-color: #8428973f;
  width: 100%; 
}
.infogatos h4{
    margin-left: 15px;
}
.targetas{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.targetascat{
     background-color: #f7d1f1c5;
     margin: 20px;
     width: 230px;
     border: 3px solid #5f1d564d;
     border-radius: 15px;
     display: block;
}
.targetascat img{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.targetas h4{
    text-align: center;
    color: #5c126b;
}
.targetascat button{
  background-color: rgb(255, 255, 255);
  color: #4b0e57;
  margin: 10px 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight:bold ;
}
.targetascat button:hover{
  background-color: #4b0e57;
  color: #ffffff;
}
.iniciofooter{
  background-color: #641c7286;
  width: 100%;
  display: flex;
  justify-content: center;
 
}
.iniciofooter p{
   padding: 0px 15px;
   text-decoration: none;
   color: #230629;
}
.iniciofooter a{
  font-weight: bold;
  color: #1e0424;
}
.iniciofooter a:hover{
  color: #ffffff;
}